<footer>
    <!-- <p> -->
      <a href="/">Copyright &copy;Mohammad Naeem  </a>
    <!-- </p> -->
    <!-- <nav> -->
    <a href="/about">About Us</a>
    <a href="/contact">Contact Us</a>
    <a href="#" class="fa fa-facebook">Facebook</a>
    <a href="#" class="fa fa-twitter">Twitter</a>

    <!-- </nav> -->
  </footer>
</body>
</html>
