<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- css link -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/images/Comp.gif">
    <title>CSM</title>
  </head>
  <body>
    <header>
      <!-- <link rel="icon" href="index.html" > -->
      <!-- <h1 class='logo'> <a href="Comp.gif">LOGO</a></h1> -->
      <a href="/"><img src="/images/Comp.gif" class="homelogo" alt="Logo"></a>

      <nav class="userNav">
        <ul>
          <li> <a href="login">Login</a></li>
          <li>|</li>
          <li> <a href="Signup">Sign Up</a></li>
          <li>|</li>
          <li> <a href="/connections/newConnection">Begin Connection</a></li>
        </ul>
      </nav>
      <hr>
      <nav class="geneNav">
        <ul>
          <li> <a href="/connections">Connections</a></li>
        </ul>
      </nav>
    </header>