<%- include('./partials/header.ejs')%>
<main>
  <div>
    <!-- <div> -->
      
      <h4>Hi There,</h4>
      <p>My email is Mnaeem1@uncc.edu, please reach-out for any inquery. Thanks for contacting with me! </p>
      
    <!-- </div> -->
  </div>
</main>

<%- include('./partials/footer.ejs')%>