<%- include('./partials/header.ejs')%>
<main>
  <div>
    <!-- <div> -->
      <p>Hey there welcome to Computer Science Meetup Site,</p>
      <p>This website is to gather the computer science community to support and get supported by joining and creating a meetup.</p>
      <p>You must checkout <u>Connections</u> to find or create connection with others!!!</p>
    <!-- </div> -->
  </div>
</main>

<%- include('./partials/footer.ejs')%>