<%- include('./partials/header.ejs')%>
<main>
  <div>      
      <p>This website is to gather the computer science community to support and get supported by joining and creating a meetup.</p>
      <p>I am Mohammad Naeem created this app as an individual class project. Please check contact page if interested in connecting</p>
  </div>
</main>

<%- include('./partials/footer.ejs')%>